.header {
    background-color: rgb(77, 120, 221);
    background-image: url("../imgs/pattern.png");
    background-repeat: repeat;
    width: 20%;
    height:auto;
}

#titolo-principale {
    font-size: 40px;
}

#foto-tim {
    margin-left: 0;
}

#didascalia-tim {
    font-size: 12px;
}