.logo {
    width: 20%;
    height: auto;
    margin-left: 8px;
    margin-top: 24px;
}

header {
    background-color: lightskyblue;
    background-image: url(../imgs/pattern.png);
    background-size: 350px;
}

.pattern {
    display: block;
    width: 210px;
    height: 105px;
    margin: 0;
}

#standard-pagina {
    width: 1070px;
    height: auto;
    margin: 0;
}

.titoletto {
    margin-top: 0;
    margin-bottom: 0;
    color: grey;
}

.evidenziato-azzurro {
    color: rgb(0, 166, 255);
}

.margine-pagina {
    margin: 8px;
}

#titolo-principale {
    font-size: 40px;
    margin-bottom: 0;
}

#foto-tim {
    margin-left: 0;
}

#didascalia-tim {
    font-size: 12px;
}

.evidenziato {
    background-color: yellow;
}

ul {
    padding-left: 16px;
}

.tabella {
    width: 100%;
    border-collapse: collapse;
    margin: 8px;
}

.tabella th {
    text-align: left;
    background-color: rgb(72, 185, 250);
    color: white;
}

.tabella th:nth-child(1) {
    width: 25%;
}

.tabella th:nth-child(2) {
    width: 25%;
}

.tabella th:nth-child(3) {
    width: 50%;
}

.riga-celeste {
    background-color: rgb(137, 233, 255);
}

.footer {
    color: grey;
}

.sovrimpressione {
    position: relative;
}

.sovrimpressione img {
    display: block;
    width: 20%;
    height: auto;
}

.testo-sovrapposto {
    position: absolute;
    top: -5%;
    left: 10px;
    color: white;
    font-size: larger;
    font-size: 16px;
}